@using System.Globalization
<div class="card h-100">
    <div class="card-body">
        <div style="display: flex;flex-flow:row wrap;">
            <img src="@Achievement.UserAvatar.AbsoluteUri" width="50" height="50" />
            <div style="margin-left:1em">

                <h5 class="card-title"><BastiliaUserLink Member="@Achievement.User" /> — @Achievement.Name</h5>
                @if (Achievement.RatingValue is not null)
                {
                    <h6 class="card-subtitle mb-2 text-muted">+@CountHelper.DisplayCount(Achievement.RatingValue.Value, "очко", "очка", "очков")</h6>
                }
            </div>
        </div>
        <p class="card-text">@Achievement.Description</p>
        
        @if (Achievement.IsExpired)
        {

            <div class="text-muted" style="text-align: right; font-size: 70%">
                Истекло @Achievement.ExpiredDate!.Value.ToShortDateString()
            </div>
        }
    </div>
</div>

@code {
    [Parameter, EditorRequired]
    public ProjectMemberAchievement Achievement { get; set; } = null!;

}