@using System.Globalization
<div class="card h-100" style="margin:0.5em; width:30em">
    <div class="card-body">
        <div style="display: flex;flex-flow:row wrap;">
            <img src="@avatar" width="70" height="70" />
            <div style="margin-left:1em">

                <h5>
                    @if (ShowAsProject)
                    {
                        <BastiliaUserLink Member="@Achievement.User" />
                    }
                    else
                    {
                        @Achievement.AchievementName
                    }
                    @if (Achievement.RatingForDisplay is not null)
                    {
                        <span class="text-muted"> (+@CountHelper.DisplayCount(Achievement.RatingForDisplay.Value, "очко", "очка", "очков"))</span>
                    }
                    </h5>
            </div>
        </div>
        <p class="card-text">@Achievement.Description</p>
        
            <div class="text-muted" style="text-align: right; font-size: 70%">
            @if (Achievement.ProjectLink is not null && !ShowAsProject)
            {
                <ProjectLink Project="Achievement.ProjectLink" />
            }
            else
            {
                <span>Выдал(а) <BastiliaUserLink Member="Achievement.GrantedBy" /></span>
            }
            </div>

        @if (Achievement.IsExpired)
        {

            <div class="text-muted" style="text-align: right; font-size: 70%">
                Истекло @Achievement.ExpirationDate!.Value.ToShortDateString()
            </div>
        }
    </div>
</div>

@code {
    [Parameter, EditorRequired]
    public MemberAchievement Achievement { get; set; } = null!;

    [Parameter]
    public bool ShowValue {get;set;} = false;
    [Parameter]
    public bool ShowAsProject { get; set; }

    private string GrantedDate =>
        Achievement.GrantedDate.ToString("d MMM yyyy", CultureInfo.GetCultureInfo("ru-RU"));

    private string avatar => ShowAsProject ? Achievement.UserAvatar.AbsoluteUri : Achievement.AchievementIconUri.AbsoluteUri;




}