@using System.Globalization
<div class="card h-100">
    <div class="card-body">
        <div style="display: flex;flex-flow:row wrap;">
            
                <img src="@Project.ProjectIconUri.AbsoluteUri" width="150" height="150" />
            <div style="margin-left:1em">
                <h3 class="card-title">@Project.ProjectName</h3>
                <p>
                    @if (Project.Coordinators.Count > 0)
                    {
                        <b>Координаторы: </b>
                        @foreach (var user in Project.Coordinators)
                        {
                            <text><BastiliaUserLink Member="@user" /> &nbsp;</text>
                        } 
                        <br />
                    }
                    <ProjectLinks Project="Project" />
                </p>
            </div>
        </div>
        <p class="card-text">@Project.ProjectDescription</p>
        @if (Project.HelpRequired)
        {
            <h5>Чем помочь</h5>
            <p class="card-text">
                @Project.HowToHelp
            </p>
        }
    </div>
</div>

@code {
    [Parameter, EditorRequired]
    public BastiliaProjectWithDetails Project { get; set; } = null!;
}